	#tags{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #CCC inset;
  padding: 15px;
  width: 100%;
  background: #fff;
  margin: 0px 0px 10px 0px;
}

#tag-typer{
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
  margin-right: -25px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  color: #333;
}

.tag{
  display: inline-block;
  background: #004080;
  color: #FFF;
  padding: 5px 10px;
  margin:2px 2px 2px 30px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow:1px 1px 0 rgba(0,0,0,.2);
  -webkit-transform-origin:0% 50%;
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s ;
}

.tag:before{
  content: "";
  position: absolute;
  width: 0;
  background: inherit;
  height: 10px;
  border: 14px solid #fafafa;
  border-right-color: transparent;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  left: -28px;
  top: 0;
}

.tag:after{
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  left: -3px;
  top: 12px;
  box-shadow:inset 1px 1px 0 #CCC;
}

.tag .closer{
  position: absolute;
  background: rgba(0,0,0,0);
  left: -8px;
  top: 2px;
  z-index: 3;
  visibility: hidden;
}
.tag .closer{
  float: right;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.tag:hover .closer{
  visibility: visible;
  
}

.closer:hover {
  color: rgba(0,0,0,.7);
}


.colors {
  list-style:none;
}
.colors li{
  display: inline-block;
  width:15px;
  height: 15px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes swing
{
  0%   {-webkit-transform: rotate(100deg)}
  25%  {-webkit-transform: rotate(-25deg)}
  50%  {-webkit-transform: rotate(15deg)}
  100% {-webkit-transform: rotate(0deg)}
}


@keyframes swing
{
  0%   {-webkit-transform: rotate(-200)}
  25%  {-webkit-transform: rotate(-70)}
  50%  {-webkit-transform: rotate(-185)}
  100% {-webkit-transform: rotate(-180)}
}